*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
    text-decoration: none;
}

.welcome-section{
  background-color: #F99501;
  background-image: url(/images/orange-backdrop.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.jhalar{
  display: flex;
  justify-content: space-between;
}

.jhalar img{
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
}

.welcome-quote{
    font-size: 2.5rem;
    width: 400px;
    margin-top: 100px;
    margin-left: -400px;
}

#receiver{
    font-size: 3rem;
    color: purple;
    margin-left: 10px;
}

.audio-container{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 40px;
    background-color: #F3CC79;
    transform: translateX(-200px);
    font-size: 20px;
    max-width: 400px;
}

.audio::-webkit-media-controls-panel{
    background-color: #F3CC79;
    font-size: 25px;
}

.deepak{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-right: auto;
  /* transform: translateX(-300px); */
}

.media-links{
    display: flex;
    gap: 20px;
    font-size: 2rem;
    color: white;
    padding: 5px;
}

/*............... laxmi-ganesh-section........... */

.laxmi-ganesh-section{
    background:  #f99501;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 100px ;
}

 .divider{
    padding: 50px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px  ;
}

.divider .line{
    max-width: 450px;
    width: 400px;
    border: 2px solid;
    border-radius: 4px;
}

 .circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid;
    background: #fff;
}

.laxmi-ganesh{
    position: relative;
    z-index: 11;
    opacity: 0.8;
    max-width: 100%;
}

.chakra{
    position: absolute;
    top: 1350px;
    z-index: 10;
    opacity: 0.9;
    width: 40%;
}

.bless-quote{
    font-size: 3.5rem;
    text-shadow: 5px 5px 10px rgba(150,0,150,0.5);
}

.quotation{
    max-width: 800px;
    background: #fff;
    border-radius: 20px;
    padding:100px 60px;
    position: relative;
}

.quotation p{
    font-size: 2.5rem;
    font-weight: 800;
    text-wrap: wrap;
    max-width: 80%;
    text-align: justify;
}
.quotation img{
    object-fit: contain;
    height: 100%;
    position: absolute;
    top: 0;
    right: -130px;
}

.gods-container{
    max-width: 100%;
}
.gods-images{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.gods-images img{
    width: 50%;
}

.happy-diwali{
    font-size: 1.5rem;
    font-weight: 600;
}

.thank-you{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 50px;
}

.credit-text{
    text-align: end;
    margin-bottom: 50px;
    font-size: 1.1rem;
    font-weight: 600;
}

#sender{
    color: #BB2CD9;
    font-size: 1.3rem;
}



/* ..............mobile responsive ..........*/

@media (max-width: 492px){
    body{
        overflow-x: hidden;
    }
    .welcome-section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .jhalar{
        display: flex;
        flex-direction: column;
    }
    .jhalar img {
        width: 100%;
        height: 60%;
    }
    .welcome-quote{
        font-size: 1.5rem;
        width: 80%;
        margin: 400px auto auto 0;
        text-align: center;
    }
    .audio-container{
        padding: 10px;
        border-radius: 40px;
        font-size: 10px;
        max-width: 400px;
        gap: 10px;
    }
    .audio-container p{
        font-size: small;
    }
    #receiver {
        font-size: 2rem;
        margin-left: 5px;
    }
    .audio-container {
        font-size: 1.2rem;
        padding: 10px;
        transform: translateX(0);
    }
    .deepak {
        transform: none;
    }
    .second-deepak{
        display: none;
    }
    .first-deepak{
        display: block;
    }
    .media-links{
        font-size: 1.8rem;
        margin-top: 0;
    }
    .divider{
        padding: 20px 0;
        gap: 20px  ;
    }
    .laxmi-ganesh-section{
        gap: 15px;
    }
    .laxmi-ganesh{
        height: 300px;
        width: 100%;
    }
    .chakra{
        top: 1270px;
        width: 50%;
    }
    .bless-quote{
        font-size: 2.5rem;
        text-align: center;

    }
    .quotation{
        width: 100%;
        padding:20px;
    }
    .quotation p{
        font-size: 1.2rem;
        max-width: 70% ;
        font-weight: 600;
    }
    .quotation img{
        object-fit: contain;
        height: 90%;
        top: 10px;
        right: -10px;
    }
    .gods-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        width: 100%;
    }
     .gods-images{
        display: flex;
        justify-content: center;
    }

    .gods-container img{
        width: 50%;
    }
    .thank-you{
        font-size: 1.8rem;
        font-weight: 700;
        margin-top: 20px;
    }
    .credit-text{
        margin-bottom: 20px;
        font-size: 1rem;
    }
    
    #sender{
        color: #BB2CD9;
        font-size: 1rem;
        margin-right: 10px;
    }
}

/* second breakpoint */
@media (max-width: 840px){
    body{
        overflow-x: hidden;
    }
    .jhalar{
        display: flex;
        justify-content: space-between;
      }
      
      .jhalar img{
          position: absolute;
          max-width: 100%;
          top: 0;
          left: 0;
      }
      
      .welcome-quote{
          font-size: 2.5rem;
          width: 400px;
          margin-top: 100px;
          margin-left: 250px;
      }  
}